@use '../../styles/mixins';
@use '../../styles/variables' as var;

.up-button {
  position: sticky;
  z-index: var.$index-main;
  bottom: 70px;
  left: 100%;

  @include mixins.placeItems(center, center);
  font-size: 0;
  padding: 0;

  margin-right: 10px;
  width: 45px;
  height: 45px;

  border: 3px dotted var.$color-background;
  background-color: var.$color-contrast;

  transition: all .3s;

  @media (max-width: 769px) {
    height: 35px;
    width: 35px;
  }

  &:hover {
    border-color: var.$color-contrast;
    background-color: var.$color-background;
    color: var.$color-contrast;

    & path {
      fill: var.$color-contrast;
    }
  }
}