@use '../../styles/mixins';
@use '../../styles/variables' as var;

.up-button {
  position: sticky;
  z-index: var.$index-main;
  bottom: 70px;
  left: 94%;

  width: 45px;
  height: 45px;

  border: 3px dotted var.$color-background;
  background-color: var.$color-contrast;

  @include mixins.fontSubtitle();
  font-size: 60px;
  color: var.$color-background;
  line-height: 62px;

  transition: all .3s;

  @media (max-width: 769px) {
    height: 35px;
    width: 35px;

    font-size: 40px;
    line-height: 40px;
    left: 92%;
  }

  @media (max-width: 490px) {
    left: 88%;
  }

  &:hover {
    border-color: var.$color-contrast;
    background-color: var.$color-background;
    color: var.$color-contrast;
  }

  &__arrow {
    width: 45px;
    height: 45px;

    @media (max-width: 769px) {
      height: 35px;
      width: 35px;
    }
  }
}