@use '../../styles/mixins';
@use '../../styles/variables' as var;

.project {
  top: 0;
  display: flex;
  
  &__static {
    position: relative;
    display: flex;
    gap: 50px;
    height: max-content;
  
    @media (max-width: 769px) {
      display: block;
    }
  }

  &__box {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 20px;
    width: 50%;
    min-height: 400px;
    height: max-content;
    padding: 50px 80px;

    border: 1px dotted var.$color-contrast;
    color: var.$color-text;

    &__boxHover {
      position: absolute;
      top: -9px;
      left: 11px;
  
      width: calc(100% - 1px);
      height: calc(100% - 1px);
      overflow: hidden;
  
      @include mixins.boxAnimation();
  
      cursor: pointer;
  
      &__image {
        width: 100%;
        height: 100%;
  
        object-fit: cover;
        object-position: top center;
  
        transform: translate(-100%, 100%);
        transition: transform .6s cubic-bezier(0, 0.55, 0.45, 1);

        &_leftPosition {
          object-position: top left;
        }
  
        &_active {
          transform: translate(0, 0);
        }
      }
    }

    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      top: -10px;
      left: 10px;

      width: 100%;
      height: 100%;
      border: 1px dotted var.$color-contrast;

      @include mixins.boxAnimation();
    }

    &:hover::before {
      @include mixins.boxHover();
    }

    &:hover &__boxHover {
      @media (min-width: 770px) {
        @include mixins.boxHover();
      }

      &__image {
        @media (min-width: 770px) {
          transform: translate(0, 0);
        }
      }
    }

    @media (max-width: 769px) {
      width: 100%;
      margin-bottom: 25px;
      margin-left: 0;
    }


    @media (max-width: 490px) {
      padding: 20px 30px 35px;
      margin-bottom: 25px;

      &:hover::before {
        transform: translate(0, 0);
      }
    }
  }

  &__title {
    @include mixins.fontSubtitle();
    font-size: 30px;
  }

  &__descriptionList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;

    &__part {
      @include mixins.fontText();
      line-height: 18px;
    }
  }

  &__description {
    margin-top: 10px;

    @include mixins.fontText();
    line-height: 18px;
  }
}
