@use '../../styles/mixins';
@use '../../styles/variables' as var;

.project {
  position: relative;
  display: flex;

  @media (max-width: 769px) {
    display: block;
  }

  &__box {
    position: relative;
    margin: 0 20px;
    width: 45%;
    min-height: 200px;
    padding: 30px 50px;

    border: 1px dotted var.$color-contrast;
    color: var.$color-text;

    @media (max-width: 769px) {
      width: 80%;
      margin-bottom: 40px;
      margin-left: 0;
    }

    @media (max-width: 490px) {
    padding: 30px;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      top: -10px;
      left: 10px;

      width: 100%;
      height: 100%;
      border: 1px dotted var.$color-contrast;

      transition: all .3s;
    }

    &:hover::before {
      transform: translate(20px, -20px);
    }

    @media (max-width: 490px) {
      &:hover::before {
        transform: translate(0, 0);
      }
    }
  }

  &__title {
    @include mixins.fontSubtitle();
    font-size: 30px;
  }

  &__descriptionList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;

    &__part {
      @include mixins.fontText();
      line-height: 18px;
    }
  }

  &__description {
    margin-top: 10px;

    @include mixins.fontText();
    line-height: 18px;
  }

  &__cafe-text {
    @include mixins.fontText();
  }

  &__tech {
    @include mixins.placeItems(space-between, flex-start);
    flex-direction: column;

    margin-left: 30px;
    width: 500px;

    @media (max-width: 769px) {
      width: 100%;
      margin-left: 0;
    }
  }

  &__links {
    position: relative;

    @include mixins.placeItems(space-between, center);

    width: 100%;

    @media (max-width: 769px) {
      margin-top: 40px;
    }
  }

  &__link {
    position: relative;
    @include mixins.fontSubtitle();
    color: var.$color-contrast;
    line-height: 45px;

    border-bottom: 1px solid var.$color-contrast;

    transition: all .2s;

    &--underline {
      background-color: var.$color-contrast;
      width: 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 700ms ease-in-out;
      display: inline-block;
    }

    &:hover &--underline {
      width: 100%;
    }

    &:hover {
      color: var.$color-background;
      border-bottom: 1px dotted var.$color-contrast;
    }

    @media (max-width: 490px) {
      font-size: 20px;
    }
  }
}
