@use 'styles/mixins';
@use 'styles/variables' as var;

.linksAndTechs {
  @include mixins.placeItems(space-between, flex-start);
  flex-direction: column;
  height: 100%;

  &__tech {
    &__title {
      color: var.$color-text;
      @include mixins.fontSubtitle();
      margin-bottom: 40px;

      &_image {
        color: var.$color-text;
        @include mixins.fontText();
        font-size: 20px;

        span {
          color: inherit;
          @include mixins.fontText();
          font-size: 14px;
          padding-right: 5px;
        }
      }
    }
  }

  &__links {
    position: relative;

    @include mixins.placeItems(space-between, center);
    gap: 40px;

    width: 100%;

    @media (max-width: 769px) {
      margin-top: 45px;
    }

    @media (max-width: 490px) {
      margin-top: 25px;
    }
  }
}