@use 'styles/mixins';
@use 'styles/variables' as var;

.titleBlock {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  height: max-content;
  max-width: 1150px;

  padding: 0 20px;

  @media (max-width: 490px) {
    padding: 0 21px;
  }

  &__titleText {
    user-select: none;
    pointer-events: none;

    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  }
}
