@use 'styles/mixins';
@use 'styles/variables' as var;

.main {
  &__gradientBox {
    position: relative;
    z-index: var.$index-main;

    @include mixins.backgroundNoise();
    box-shadow: 10px 10px 21px 0px var.$color-background;

    width: 100%;
    margin: 0 auto 190px;
    padding-bottom: 20px;
  
    @media (max-width: 600px) {
      margin-bottom: 220px;
    }

    @media (max-width: 490px) {
      margin-bottom: 290px;
    }
  }
}
