@use 'styles/mixins';
@use 'styles/variables' as var;

.absoluteContainer {
  position: absolute;
  bottom: 0;
  z-index: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;

  transition: transform 0.3s linear;
}

.marqContainer {
  background-color: #faff0090;
}
