@use 'styles/mixins';
@use 'styles/variables' as var;

.absoluteContainer {
  position: absolute;
  // bottom: 50px;
  z-index: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // padding: 50px 0;

  height: 100%;
  width: 100%;

  // opacity: 0.1;

  transition: transform 0.3s linear;

  // &__top {
  //   bottom: auto;
  //   top: 50px;
  // }
}

.marqContainer {
  background-color: #faff0090;
}
