@use 'styles/mixins';
@use 'styles/variables' as var;

.contacts {
  display: flex;
  flex-direction: column;

  position: absolute;
  z-index: var.$index-header;
  top: 215px;

  padding: 10px 0;

  @include mixins.background(315deg, var.$color-text, 5%);

  @media (max-width: 1024px) {
    top: 230px;
  }

  @media (max-width: 490px) {
    background-color: var.$color-text;
    top: 0;
    flex-direction: row;
    padding: 0 10px;
    width: 100%;
  }

  &__link {
    position: relative;
    padding: 5px;
    margin: 0 auto;

    transition: all 0.3s;

    &:hover {
      @include mixins.animationHover2('', var.$color-text, var.$color-contrast);
      @include mixins.iconHover();
    }

    @media (max-width: 1024px) {
      svg {
        width: 30px;
        height: 30px;
      }
    }

    @media (max-width: 490px) {
      padding: 5px 10px;

      & svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  &--footer {
    position: static;
    flex-direction: row;
    align-items: center;

    margin-top: 0;
    background: none;

    @media (max-width: 490px) {
      padding: 0;
      width: max-content;
    }

    &__link {
      padding-left: 0px;
      padding-right: 10px;

      &:hover {
        @include mixins.animationHover2(
          '',
          var.$color-contrast,
          var.$color-text
        );
      }
    }

    @media (max-width: 490px) {
      & svg {
        width: 40px;
        height: 40px;
      }
    }

    @media (max-width: 320px) {
      & svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
