@use 'styles/mixins';
@use 'styles/variables' as var;

.header {
  position: relative;
  z-index: var.$index-header;

  @include mixins.placeItems(center, center);
  flex-direction: column;

  @include mixins.backgroundNoise();

  height: 100vh;

  overflow-x: hidden;

  &__box {
    position: relative;
    z-index: 1;

    @include mixins.placeItems(center, center);
    flex-direction: column;

    padding-top: 100px;

    @media (max-width: 1200px) {
      max-width: 85%;
    }

    @media (max-width: 490px) {
      margin-top: 75px;
    }
  }

  &__title {
    margin: 0 30px 30px;

    @include mixins.fontTitle();
    text-transform: uppercase;
    color: var.$color-contrast;

    @media (max-width: 1024px) {
      margin-bottom: 20px;
      font-size: 40px;
    }

    @media (max-width: 490px) {
      margin-bottom: 10px;
      font-size: 30px;
    }
  }

  &__subtitle {
    @include mixins.fontSubtitle();
    color: var.$color-text;

    text-align: center;

    &:first-of-type {
      margin-bottom: 10px;
    }

    @media (max-width: 490px) {
      font-size: 20px;
    }
  }
}

.links {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}

@keyframes glitch {
  0% {
    clip-path: var.$slice-1;
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var.$slice-3;
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var.$slice-1;
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var.$slice-3;
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var.$slice-2;
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var.$slice-3;
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var.$slice-4;
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var.$slice-2;
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var.$slice-5;
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var.$slice-1;
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var.$slice-1;
    transform: translate(0);
  }
}
