@use './styles/mixins';
@use './styles/variables' as var;

.App {
  &__header {
    position: relative;
    z-index: var.$index-header;
    background-color: var.$color-background;

    @include mixins.placeItems(center, center);
    flex-direction: column;

    height: 100vh;
  }

  &__header-box {
    @include mixins.placeItems(center, center);
    flex-direction: column;

    text-align: center;

    @media (max-width: 1200px) {
      max-width: 85%;
    }

    @media (max-width: 490px) {
      margin-top: 75px;
    }
  }

  &__title {
    margin: 0 30px;

    @include mixins.fontTitle();
    text-transform: uppercase;
    color: var.$color-contrast;

    @media (max-width: 1024px) {
      margin-bottom: 10px;
      font-size: 40px;
    }

    @media (max-width: 490px) {
      margin-bottom: 10px;
      font-size: 30px;
    }
  }

  &__subtitle {
    @include mixins.fontSubtitle();
    color: var.$color-text;

    @media (max-width: 490px) {
      font-size: 20px;
    }
  }

  &__button {
    position: relative;

    margin-top: 100px;
    padding: 20px;

    @include mixins.fontSubtitle();
    text-transform: uppercase;
    color: var.$color-background;

    @include mixins.background(45deg, var.$color-contrast, 5%);

    @include mixins.animationHover("PORTFOLIO");

    @media (max-width: 1024px) {
      font-size: 25px;
    }

    @media (max-width: 490px) {
      margin-top: 75px;
      padding: 15px;
      font-size: 20px;
    }

    &--link {
      color: var.$color-background;
    }
  }

  &__main {
    box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
    position: sticky;
    z-index: var.$index-main;
    top: 0;

    display: flex;
    flex-direction: column;
    row-gap: 200px;

    margin-bottom: 250px;
    padding: 100px 50px;

    background-color: var.$color-background;

    @media (max-width: 769px) {
      margin-bottom: 350px;
    }

    @media (max-width: 490px) {
      row-gap: 150px;
    }

    @media (max-width: 320px) {
      padding: 100px 20px;
    }
  }
}

@keyframes glitch {
  0% {
   clip-path: var.$slice-1;
   transform: translate(-20px, -10px);
  }
 
  10% {
   clip-path: var.$slice-3;
   transform: translate(10px, 10px);
  }
 
  20% {
   clip-path: var.$slice-1;
   transform: translate(-10px, 10px);
  }
 
  30% {
   clip-path: var.$slice-3;
   transform: translate(0px, 5px);
  }
 
  40% {
   clip-path: var.$slice-2;
   transform: translate(-5px, 0px);
  }
 
  50% {
   clip-path: var.$slice-3;
   transform: translate(5px, 0px);
  }
 
  60% {
   clip-path: var.$slice-4;
   transform: translate(5px, 10px);
  }
 
  70% {
   clip-path: var.$slice-2;
   transform: translate(-10px, 10px);
  }
 
  80% {
   clip-path: var.$slice-5;
   transform: translate(20px, -10px);
  }
 
  90% {
   clip-path: var.$slice-1;
   transform: translate(-10px, 0px);
  }
 
  100% {
   clip-path: var.$slice-1;
   transform: translate(0);
  }
}
